# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build/
bin/

# Ignore Idea customizations
.idea

# Ignore Eclipse settings
.project
.settings/
.classpath
src/main/java/it/unibo/progetto_oop/Overworld/OverworldView.java
src/main/java/it/unibo/progetto_oop/Overworld/MysteryDungeonPlayer.java
src/main/java/it/unibo/progetto_oop/Overworld/GameApplication.java
